<div class="adminViews">
    <div class="saveButton">
        <button class="btn btn-success">Save</button>
    </div>

    <div class="editClassroomNameButton">
        <button class="editClassroomNameButton btn btn-primary" data-toggle='modal'
                data-target="#editClassroomName">
            Edit Classroom Name
        </button>
    </div>

    <div class="randomizeButton">
        <button class="randomizeButton btn btn-warning">Randomize</button>
    </div>
    <br>

    <div class="clearButton">
        <button class="clearButton btn btn-danger">Clear</button>
    </div>
    <br>

    <div class="onoffswitch onoffswitch-checked">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
               checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <br>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Assign a Cohort
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        </ul>
    </div>
</div>

<div class="cohortListDiv">
    <h2 class="cohortTitle"></h2>
    <ul class="cohort_list"></ul>
</div>