<h2>Cohorts</h2>
<div class="container-fluid row">
    <div class="col-sm-4 well chooseCohort">
        <ul class="cohortList">
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-5 well entryList form-group">
        <h1 class="headline"></h1>
        Add a person
        <input class="form-control" placeholder="first name" name="firstName" id="firstName" type="text"
               required="required">
        <input class="form-control" placeholder="last name" name="lastName" id="lastName" type="lastName"
               required="required">
        <input class="form-control" placeholder="email" name="email" id="email" type="email" required="required">
        <button class="btn btn-primary submitPerson">Submit</button>
        <br/>
    </div>
    <div class="col-sm-offset-6 col-sm-5 well showList form-group">
        <ul>

        </ul>
    </div>

</div>