<h1>COHORTS HEADLINE!!!</h1>

<div class="container-fluid col-md-4 well chooseCohort">
    <ul class="cohortList">
        <li><button class="create">Create a New Cohort</button></li>

    </ul>
</div>
<div class="container-fluid col-md-offset-2 col-md-4 well entryList">
    <form class="entry">
        First Name:<br>
        <input type="text" class="firstName">
        <br>
        Last Name:<br>
        <input type="text" class="lastName">
        <br>
        Email Address:<br>
        <input type="email" class="email">
    </form>
    <br/>
    <br/>
    <button class="submit">Submit</button>
    <button class="clear">Clear</button>
</div>
<div class="container-fluid col-md-offset-6 col-md-4 well showList">

</div>

<script src="/javascripts/cohorts.js"></script>