
<h1>COHORTS HEADLINE!!!</h1>

<div class="container-fluid col-md-4 well chooseCohort">
    <ul class="cohortList">
        <li><button class="create">Create a New Cohort</button></li>
    </ul>
</div>

<div class="container-fluid col-md-offset-2 col-md-4 well entryList">
    <form class="entry">
        <h1 class="headline"></h1>
        <label for="firstName">first name:</label>
        <input name="firstName" id="firstName" type="text" class="firstName" required="true">
        <br/>
        <label for="lastName">last name:</label>
        <input name="lastName" id="lastName" type="text" class="lastName" required="true">
        <br/>
        <label for="email">e-mail address:</label>
        <input name="email" id="email" type="email" class="email">
    </form>
    <button class="submit">Submit</button>
</div>

<div class="container-fluid col-md-offset-6 col-md-4 well showList">
    <ul>

    </ul>

</div>
