<!-- Modal -->
<button class="helpModalButton" data-toggle="modal" data-target="#statusModal">?
</button>

<div class="modal custom fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="statusModalLabel">
                    Change Help Status
                </h4>
            </div>
            <div class="modal-body">
                <button type="button" data-color="green" class="green helpStatusSelector">
                    <a href="#" class="helpStatusGreen" data-helpLevel="1"> Green</a>
                </button>
                <button type="button" data-color="yellow" class="yellow helpStatusSelector">
                    <a href="#" class="helpStatusYellow" data-helpLevel="2"> Yellow</a>
                </button>
                <button type="button" data-color="red" class="red helpStatusSelector">
                    <a href="#" class="helpStatusRed" data-helpLevel="3"> Red</a>
                </button>

                <div class="modalQuestionText">
                    <input type="text" class="helpModalTextbox"
                           placeholder="Write a brief description of your question or problem." rows="5">
                </div>
            </div>


            <div class="modal-footer helpModalFooter">

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>

                <button type="button" class="btn btn-primary">Submit New Status</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->