<!DOCTYPE html>
<html>
    <head lang="en">
        <title>classroom app</title>
        <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id"
              content="59557968968-k12mla8saffg79b94h3lt83os5k5dvqa.apps.googleusercontent.com">
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>
        <header>
            <h2>
                <img class="logo" src="http://placehold.it/50x50">
                Prime Academy Classroom Thingie
            </h2>
        </header>
        <nav>
            <ul>
                <li><a href="#" class="classroomSelector" data-classroom="1">Classroom 1</a></li>
                <li><a href="#" class="classroomSelector" data-classroom="2">Classroom 2</a></li>
                <li><a href="#" class="newClassroomButton">+</a></li>
            </ul>
        </nav>
        <div class="classroom">

        </div>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/javascripts/app.js"></script>
    </body>
</html>