<!DOCTYPE html>
<html>
    <head><title>classroom app</title>
        <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h2>
                <img class="logo" src="http://placehold.it/50x50">
                Prime Academy Classroom Thingie
            </h2>
        </header>
        <nav>
            <ul>
                <li><a href="#" class="classroomSelector" data-classroom="1">Classroom 1</a></li>
                <li><a href="#" class="classroomSelector" data-classroom="2">Classroom 2</a></li>
                <li>+</li>
            </ul>
        </nav>
        <div class="classroom">

        </div>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/javascripts/app.js"></script>
    </body>
</html>