body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.block {
    border: solid black 2px;
    height: 60px;
    display: inline-block;
}

.occupied {
    background-color: #1CA99E;
}

li {
    display: inline-block;
    border: solid 2px black;
}

li:hover {
    background-color: #1CA99E;
}

img {
    margin-bottom: 10px;
}

.logo {
    display: inline-block;
}